/*
 * Windows resource file for MPlayer
 *
 * This file is part of MPlayer.
 *
 * MPlayer is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * MPlayer is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with MPlayer; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */

#include <winver.h>
#include "../version.h"

#ifdef IN_MENCODER
#define FILENAME "mencoder.exe\000"
#define DESCRIPTION "MEncoder\000"
#else
#define FILENAME "mplayer.exe\000"
#define DESCRIPTION "MPlayer - The Movie Player\000"
#endif

1 VERSIONINFO
FILEVERSION 0,0,9,0
PRODUCTVERSION 0,0,9,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004b0" // LANG_NEUTRAL,UNICODE_CP
        {
            VALUE "Comments","MPlayer is distributed under the terms of the GNU General Public License Version 2. Source code is available at http://www.mplayerhq.hu\000"
            VALUE "CompanyName", "\000"
            VALUE "FileDescription",DESCRIPTION
            VALUE "FileVersion",VERSION
            VALUE "InternalName", "Hope\000"
            VALUE "LegalCopyright", " (C) 2000-2025 MPlayer Team\000"
            //VALUE "LegalTrademarks"," \000";
            VALUE "OriginalFilename",FILENAME
            VALUE "ProductName",DESCRIPTION
            VALUE "ProductVersion",VERSION
            VALUE "SpecialBuild","http://oss.netfarm.it/mplayer-win32.php\000"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation",0,0x04b0
    }
}

#ifdef IN_MENCODER
MAIN     ICON DISCARDABLE  "etc/mencoder.ico"
#else
MAIN     ICON DISCARDABLE  "etc/mplayer.ico"
Z_AUDIO  ICON DISCARDABLE  "etc/audio.ico"
Z_VIDEO  ICON DISCARDABLE  "etc/video.ico"
#endif

// for some reason RT_MANIFEST does not work
1 24 "mplayer.exe.manifest"
